@charset "utf-8";
#navigation {
  width: 100%;
  background-color: #001A57;
  overflow: auto;
  list-style-type: none;
  padding: 10px;
}
#home, #search, #order, #about {
  float: left;
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
  font-weight: bold;
  width: 20%;
  text-align: center;
}
#home, #search, #order {
  border-right: 4px solid #ffffff;
}
a:hover {
  background-color: #002376;
}
body {
  background-color: #001A57;
  overflow: hidden;
}
#PODLogo {
  width: 80%;
  padding-top: 75px;
  padding-bottom: 75px;
}
input[type=text] {
  magin-top: 5%;
  width: 60%;
  font-size: 20px;
  color: #000000;
  border-radius: 30px;
  padding: 5px;
  border: 4px solid #ffffff;
}
table {
  margin-top: 1.5%;
  margin-left: 10%;
  width: 80%;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
}
table, th, tr, td {
  border: 4px solid #ffffff;
  font-size: 25px;
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
  border-collapse: collapse;
  text-align: center;
}
#sections {
  width: 100%;
  background-color: #001A57;
  list-style-type: none;
  margin-left: -1%;
  margin-top: 3%;
}
#s1, #s2, #s3, #s4, #s5, #s6 {
  float: left;
  width: 90%;
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
  font-weight: bold;
  text-align: center;
  padding: 2%;
  overflow: hidden;
}
#PODSquad {
  width: 20%;
  margin-left: 40%;
  margin-top: -8%;
}
p {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}
#searchform
{
	padding-bottom: 20px;
}
.searchresults
{
	margin-top: 5%;
}


@media only screen and (max-width: 1200px) {
  #home, #search, #order, #about {
    float: none;
    display: block;
    width: 90%;
    text-align: center;
    border-right: none;
    overflow: hidden;
  }
  ul {
    width: 100%;
    background-color: #001A57;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #sections {
    margin-left: 8%;
  }
}
@media only screen and (min-width: 1300px) {
  #navigation {
    width: 100%;
    background-color: #001A57;
    overflow: auto;
    margin-left: 8.5%;
    list-style-type: none;
    padding: 10px;
  }
}